#main
{
	border:10px solid black;
	height:300px;
	width:800px;
}
#body1
{
	background-color:red;
	height:300px;
	width:200px;
}
#body2
{
	background-color:green;
	height:300px;
	width:600px;
	margin-left:200px;
	margin-top:-300px;
}