#main
{
	border:1px solid black;
	height:25px;
	width:1000px;
}
#body1
{
	background-color:blue;
	height:20px;
	width:100px;
	margin-top:2px;
	margin-left:2px;
}
#body2
{
	background-color:red;
	height:20px;
	width:200px;
	margin-top:-20px;
	margin-left:100px;
}
#body3
{
	background-color:yellow;
	height:20px;
	width:100px;
	margin-top:-20px;
	margin-left:300px;
}
#body4
{
	background-color:pink;
	height:20px;
	width:150px;
	margin-top:-20px;
	margin-left:400px;
}
#body5
{
	background-color:yellow;
	height:20px;
	width:150px;
	margin-top:-20px;
	margin-left:550px;
}
#body6
{
	background-color:blue;
	height:20px;
	width:300px;
	margin-top:-20px;
	margin-left:698px;
}

